<h1>Hello Admin, here is the report</h1>
<ul>
    <li>which product was selling the best yesterday: {{bestSellingYesterday}}</li>
    <li>number of sold products: {{countSoldProducts}}</li>
    <li>how much money was gained: {{countMoney}}</li>
</ul>